body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

h2 {
    text-align: center;
    color: #3f08a5;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 14px;
    text-align: left;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

thead {
    background-color: #3f08a5;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Contenedor de botones de acción */
.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Espacio entre los botones */
}

/* Estilo para el botón de revisar */
.review-button {
    padding: 5px 10px;
    color: white;
    background-color: #4CAF50; /* Verde */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
    text-align: center;
}

.review-button:hover {
    background-color: #45a049;
}

/* Estilo para el botón de eliminar */
.delete-button {
    padding: 5px 10px;
    color: white;
    background-color: #f44336; /* Rojo */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
    text-align: center;
}

.delete-button:hover {
    background-color: #d32f2f;
}

/* Estilo para el botón de cerrar sesión */
.logout-container {
    text-align: left;
    margin-top: 20px;
}

.logout-button {
    padding: 10px 20px;
    background-color: #ff4d4d; /* Rojo suave */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #ff1a1a; /* Rojo más oscuro al pasar el mouse */
}