<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Solicitudes Registradas</title>
    <link rel="stylesheet" href="/static/styles_admin.css"> <!-- Referencia al CSS -->
</head>
<body>
    <h2>Bienvenid@, {{ session['username'] }}. Aquí están las solicitudes registradas:</h2>
    
    <!-- Formulario de búsqueda -->
    <form action="{{ url_for('buscar_por_cedula') }}" method="GET">
        <label for="cedula">Buscar por Número de Cédula:</label>
        <input type="text" name="cedula" id="cedula" required>
        <button type="submit">Buscar</button>
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Nombres y Apellidos</th>
                <th>Género</th>
                <th>Urbanización</th>
                <th>Tipo de Documento</th>
                <th>Número de Documento</th>
                <th>Número Principal</th>
                <th>Referido</th>
                <th>Teléfono Referido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
            <tr>
                <td>{{ solicitud[1] }}</td> <!-- Nombres y Apellidos -->
                <td>{{ solicitud[3] }}</td> <!-- Género -->
                <td>{{ solicitud[6] }}</td> <!-- Urbanización -->
                <td>{{ solicitud[7] }}</td> <!-- Tipo de Documento -->
                <td>{{ solicitud[8] }}</td> <!-- Número de Documento -->
                <td>{{ solicitud[9] }}</td> <!-- Número Principal -->
                <td>{{ solicitud[14] }}</td> <!-- Referido -->
                <td>{{ solicitud[15] }}</td> <!-- Teléfono Referido -->
                <td>
                    <div class="action-buttons">
                        <a href="{{ url_for('detalle_solicitud', id_solicitud=solicitud[0]) }}" class="review-button">Revisar</a>
                        <a href="{{ url_for('eliminar_solicitud', id_solicitud=solicitud[0]) }}" class="delete-button">Eliminar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Botón de cerrar sesión con un contenedor propio para darle estilo -->
    <div class="logout-container">
        <a href="{{ url_for('logout') }}" class="logout-button">Cerrar sesión</a>
    </div>
</body>
</html>
